@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#map {
	height: 100%;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
}

.custom-map-control-button {
	background-color: #fff;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
	margin: 10px;
	padding: 0 0.5em;
	font: 400 18px Roboto, Arial, sans-serif;
	overflow: hidden;
	height: 40px;
	cursor: pointer;
}

#map {
	// flexGrow: '1';
	flex-grow: 1;
	height: 85vh;
	width: 100vw;
	position: relative;
}

.foodplace-item {
	border: 1px solid #888;
}

.navbar-brand {
	width: 90px;
}

.home {
	height: 100vh;
}
table {
	padding: 2rem;
	border-spacing: 0;
	// border: 1px solid black;

	tr {
		:last-child {
			td {
				border-bottom: 0;
			}
		}
	}

	th,
	td {
		margin: 0;
		padding: 0.5rem;
		// border-bottom: 1px solid black;
		// border-right: 1px solid black;

		:last-child {
			border-right: 0;
		}
	}
}

.filter-button {
	text-align: center;
	background-color: rgb(33, 37, 41);
	padding-bottom: 10px;
}

.offcanvas {
	background-color: rgb(33, 37, 41);
	color: white;
}

.offcanvas.offcanvas-start {
	width: 600px;
}

Offcanvas {
	button {
		background-color: lightgray;
	}
}

.meals-types {
	font-size: 0.8rem;
}

.page-width-container {
	width: 100%;
}

.page-width {
	width: 54%;
}

@media screen and (max-width: 600px) {
	.food-form {
		display: block;
	}

	// .food-form input {
	// 	width: 100%;
	// }

	.meals-wrapper {
		flex-direction: column;
	}

	// .meals-wrapper > div > .form-select {
	// 	// flex-direction: column;
	// 	width: 100%;
	// 	margin: 0;
	// }

	.meals-wrapper > .form-select {
		width: 100%;
		flex-direction: column;
		margin: 0;
	}

	.meal-checkbox {
		flex-direction: column;
		width: 100%;
		margin: 0;
	}

	.meal-checkbox div {
		margin: 0;
	}

	.cuisine-wrapper {
		flex-direction: column;
		width: 100%;
		margin: 0 !important;
	}

	.type-select {
		display: block;
		margin: 0 !important;
	}

	.optional-info {
		margin: 0;
	}

	.form-control {
		margin-left: 0;
		margin-right: 0;
	}

	.page-width {
		width: 100%;
	}
}
.grey-text {
	color: #92999f;

	&:hover {
		color: #fefefe;
	}
}
